--extra-index-url https://download.pytorch.org/whl/cpu
torch
flask
flask-mail
flask-cors
gunicorn
python-dotenv
werkzeug
requests
sentence-transformers
faiss-cpu
numpy
pypdf
python-docx
fpdf2
accelerate